[Unit]
Description=Weather api updates
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/kenzi/Desktop/Project1/Lux_Work/get_weatherAPI_intoSQL.py
WorkingDirectory=/home/kenzi/Desktop/Project1
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=kenzi

[Install]
WantedBy=multi-user.target